@external Tset,Tamb,Port;

td.Tset
  {
  text-align: center;
  background: #FFFFC0;
  font-weight: bold;
  }

td.Tamb
  {
  text-align: center;
  background: #C0FFC0;
  font-weight: bold;
  }

td.Port
  {
  text-align: center;
  font-weight: bold;
  }


@def selectionBorderWidth 1px;

.dataGridWidget
  {
  }

/*
 * referring to a TD does not work here since tha actual TD is buried inside some very weird structure
 * You have to use the classes defined by GWT
 * Try to keep it simple....
 */ 

.dataGridCell 
  {
  overflow: hidden;
  font-size: 9pt !important;
  border: solid 1px #d4d0c8 !important;
  padding: 1px;
  }

.dataGridFirstColumn 
  {
  }


.dataGridLastColumn 
  {
  }

.dataGridFooter 
  {
  border-top: 2px solid #6f7277;
  padding: 3px 3px;
  text-align: left;
  color: #4b4a4a;
  text-shadow: #ddf 1px 1px 0;
  overflow: hidden;
  }


.dataGridHeader 
  {
  border-top: 0 !important;
  border-bottom: 2px solid #6f7277;
  padding: 3px 3px;
  text-align: left;
  text-shadow: #ddf 1px 1px 0;
  overflow: hidden;
  font-size: 13px;  
  }


.dataGridFirstColumnFooter 
  {
  }

.dataGridFirstColumnHeader 
  {
  }

.dataGridLastColumnFooter 
  {
  }

.dataGridLastColumnHeader 
  {
  }

.dataGridSortableHeader 
  {
  cursor: pointer;
  cursor: hand;
  }

.dataGridSortableHeader:hover 
  {
  color: #6c6b6b;
  }

.dataGridSortedHeaderAscending 
  {
  }

.dataGridSortedHeaderDescending 
  {
  }

.dataGridEvenRow 
  {
  background: #f7f7f7;
  }

.dataGridEvenRowCell 
  {
  }

.dataGridOddRow 
  {
  background: #e7e7ff; 
  }

.dataGridOddRowCell 
  {
  }

.dataGridHoveredRow 
  {
  background: #cdf989;
  }

.dataGridHoveredRowCell 
  {
  }

.dataGridKeyboardSelectedRow 
  {
  background: #f3ffca;
  height: auto;
  overflow: auto;
  }

.dataGridKeyboardSelectedRowCell 
  {
  }

.dataGridSelectedRow 
  {
  background: #ffcad2;
  height: auto;
  overflow: auto;
  }


.dataGridSelectedRowCell 
  {
  }

.dataGridKeyboardSelectedCell 
  {
  }

